NET "SF_D[0]" LOC = R15;
NET "SF_D[1]" LOC = R16;
NET "SF_D[2]" LOC = P17;
NET "SF_D[3]" LOC = M15;
NET "reset" LOC = V4;
NET "LCD_RW" LOC = L17;
NET "LCD_RS" LOC = L18;
NET "LCD_E" LOC = M18;
NET "clk" LOC = C9;
NET "SF_CE0" LOC = D7;


NET "SF_D[3]" IOSTANDARD = LVCMOS33;
NET "SF_D[2]" IOSTANDARD = LVCMOS33;
NET "SF_D[1]" IOSTANDARD = LVCMOS33;
NET "SF_D[0]" IOSTANDARD = LVCMOS33;
NET "SF_CE0" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVTTL;
NET "LCD_RW" IOSTANDARD = LVCMOS33;
NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_E" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "SF_D[3]" DRIVE = 4;
NET "SF_D[2]" DRIVE = 4;
NET "SF_D[1]" DRIVE = 4;
NET "SF_D[0]" DRIVE = 4;
NET "SF_CE0" DRIVE = 4;
NET "LCD_RW" DRIVE = 4;
NET "LCD_RS" DRIVE = 4;
NET "LCD_E" DRIVE = 4;

NET "PushButton" LOC = K17;

NET "PushButton" PULLDOWN;
NET "PushButton" IOSTANDARD = LVTTL;

NET "PushButton2" LOC = H13;

NET "PushButton2" PULLDOWN;
NET "PushButton2" IOSTANDARD = LVTTL;

# PlanAhead Generated IO constraints 

NET "reset" PULLDOWN; 
